<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="storySettings" type="System.Configuration.SingleTagSectionHandler"/>
  </configSections>
  <appSettings>
    <clear/>
    <add key="IISVersion" value="7"/>
  </appSettings>
  <storySettings
    storyPerPage="10"
    topTags="50"
    qualifyingKigg="3"
  />
  <connectionStrings>
    <add
      name="KiggConnectionString"
      connectionString="Data Source=AMIT-DELL\SQLEXPRESS;Initial Catalog=Kigg;User ID=sa;Password=janina"
      providerName="System.Data.SqlClient"
    />
  </connectionStrings>
</configuration>