form.openid fieldset div {
    background: none;
    border: 0;
    border-radius: 0;
    display: block;
    padding: 0;
}

.form h3
{
    border-bottom: 1px solid #E2C822;
    font-size: larger;
    font-weight: bold;
    margin-top: 5px;
}

.form p
{
    margin: 5px 0px;
}

.form div 
{
    margin: 5px 0;
}

.form .label
{
    clear: left;
    float: left;
    padding: 2px 2px 0 0;
    width: 70px;
}

.form input.textbox
{
    border: 1px solid #E2C822;
    font-size: 11px;
    padding: 3px;
    /*width: 280px;*/
    width: 29em;
}
.form input.openid-username-textbox
{
    border: 1px solid #E2C822;
    font-size: 11px;
    padding: 3px;
    /*width: 280px;*/
    width: 18em;
}

.form .button
{
    background: url("images/bgs/button.png") repeat-x scroll 0 50% #F2F2F2;
    border: 1px solid #999999;
    padding: 2px 4px;
}

.form .error
{
    color:#f00;
    display:block;
}

.form .info
{
    color: #555555;
    display: block;
    font-size: 11px;
    padding-left: 72px;
}

.form .message
{
    display:block;
    padding:2px 0;
}