<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.1.841" />
  <package id="DotNetOpenAuth" version="3.4.7.11121" />
  <package id="MvcExtensions" version="2.0.4.534" />
  <package id="MvcExtensions.Autofac" version="2.0.4.529" />
  <package id="TelerikMvcExtensions" version="2012.1.214" />
</packages>