/****** Object:  ForeignKey [FK_CommentSubscribtion_Story]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CommentSubscribtion_Story]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentSubscribtion]'))
ALTER TABLE [dbo].[CommentSubscribtion] DROP CONSTRAINT [FK_CommentSubscribtion_Story]
GO
/****** Object:  ForeignKey [FK_CommentSubscribtion_User]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CommentSubscribtion_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentSubscribtion]'))
ALTER TABLE [dbo].[CommentSubscribtion] DROP CONSTRAINT [FK_CommentSubscribtion_User]
GO
/****** Object:  ForeignKey [FK_Story_Category]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Story_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[Story]'))
ALTER TABLE [dbo].[Story] DROP CONSTRAINT [FK_Story_Category]
GO
/****** Object:  ForeignKey [FK_Story_User]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Story_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[Story]'))
ALTER TABLE [dbo].[Story] DROP CONSTRAINT [FK_Story_User]
GO
/****** Object:  ForeignKey [FK_StoryComment_Story]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryComment_Story]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryComment]'))
ALTER TABLE [dbo].[StoryComment] DROP CONSTRAINT [FK_StoryComment_Story]
GO
/****** Object:  ForeignKey [FK_StoryComment_User]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryComment_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryComment]'))
ALTER TABLE [dbo].[StoryComment] DROP CONSTRAINT [FK_StoryComment_User]
GO
/****** Object:  ForeignKey [FK_StoryMarkAsSpam_Story]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryMarkAsSpam_Story]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryMarkAsSpam]'))
ALTER TABLE [dbo].[StoryMarkAsSpam] DROP CONSTRAINT [FK_StoryMarkAsSpam_Story]
GO
/****** Object:  ForeignKey [FK_StoryMarkAsSpam_User]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryMarkAsSpam_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryMarkAsSpam]'))
ALTER TABLE [dbo].[StoryMarkAsSpam] DROP CONSTRAINT [FK_StoryMarkAsSpam_User]
GO
/****** Object:  ForeignKey [FK_StoryTag_Story]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryTag_Story]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryTag]'))
ALTER TABLE [dbo].[StoryTag] DROP CONSTRAINT [FK_StoryTag_Story]
GO
/****** Object:  ForeignKey [FK_StoryTag_Tag]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryTag_Tag]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryTag]'))
ALTER TABLE [dbo].[StoryTag] DROP CONSTRAINT [FK_StoryTag_Tag]
GO
/****** Object:  ForeignKey [FK_StoryView_Story]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryView_Story]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryView]'))
ALTER TABLE [dbo].[StoryView] DROP CONSTRAINT [FK_StoryView_Story]
GO
/****** Object:  ForeignKey [FK_StoryVote_Story]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryVote_Story]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryVote]'))
ALTER TABLE [dbo].[StoryVote] DROP CONSTRAINT [FK_StoryVote_Story]
GO
/****** Object:  ForeignKey [FK_StoryVote_User]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryVote_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryVote]'))
ALTER TABLE [dbo].[StoryVote] DROP CONSTRAINT [FK_StoryVote_User]
GO
/****** Object:  ForeignKey [FK_UserScore_User]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserScore_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserScore]'))
ALTER TABLE [dbo].[UserScore] DROP CONSTRAINT [FK_UserScore_User]
GO
/****** Object:  ForeignKey [FK_UserTag_Tag]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserTag_Tag]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserTag]'))
ALTER TABLE [dbo].[UserTag] DROP CONSTRAINT [FK_UserTag_Tag]
GO
/****** Object:  ForeignKey [FK_UserTag_User]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserTag_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserTag]'))
ALTER TABLE [dbo].[UserTag] DROP CONSTRAINT [FK_UserTag_User]
GO
/****** Object:  Table [dbo].[UserScore]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserScore]') AND type in (N'U'))
DROP TABLE [dbo].[UserScore]
GO
/****** Object:  Table [dbo].[StoryComment]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StoryComment]') AND type in (N'U'))
DROP TABLE [dbo].[StoryComment]
GO
/****** Object:  Table [dbo].[StoryVote]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StoryVote]') AND type in (N'U'))
DROP TABLE [dbo].[StoryVote]
GO
/****** Object:  Table [dbo].[CommentSubscribtion]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CommentSubscribtion]') AND type in (N'U'))
DROP TABLE [dbo].[CommentSubscribtion]
GO
/****** Object:  Table [dbo].[StoryView]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StoryView]') AND type in (N'U'))
DROP TABLE [dbo].[StoryView]
GO
/****** Object:  Table [dbo].[StoryMarkAsSpam]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StoryMarkAsSpam]') AND type in (N'U'))
DROP TABLE [dbo].[StoryMarkAsSpam]
GO
/****** Object:  Table [dbo].[UserTag]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserTag]') AND type in (N'U'))
DROP TABLE [dbo].[UserTag]
GO
/****** Object:  Table [dbo].[StoryTag]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StoryTag]') AND type in (N'U'))
DROP TABLE [dbo].[StoryTag]
GO
/****** Object:  Table [dbo].[Story]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Story]') AND type in (N'U'))
DROP TABLE [dbo].[Story]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
DROP TABLE [dbo].[Category]
GO
/****** Object:  Table [dbo].[KnownSource]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KnownSource]') AND type in (N'U'))
DROP TABLE [dbo].[KnownSource]
GO
/****** Object:  Table [dbo].[User]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 05/05/2009 01:09:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tag]') AND type in (N'U'))
DROP TABLE [dbo].[Tag]
GO
/****** Object:  FullTextCatalog [StoryComment]    Script Date: 05/05/2009 01:09:34 ******/
IF EXISTS (SELECT * FROM sysfulltextcatalogs ftc WHERE ftc.name = N'StoryComment')
DROP FULLTEXT CATALOG [StoryComment]
GO
/****** Object:  FullTextCatalog [StoryComment]    Script Date: 05/05/2009 01:09:34 ******/
IF NOT EXISTS (SELECT * FROM sysfulltextcatalogs ftc WHERE ftc.name = N'StoryComment')
CREATE FULLTEXT CATALOG [StoryComment]
WITH ACCENT_SENSITIVITY = ON
AS DEFAULT
AUTHORIZATION [dbo]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 05/05/2009 01:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tag]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Tag](
	[Id] [uniqueidentifier] NOT NULL,
	[UniqueName] [nvarchar](64) COLLATE Latin1_General_CI_AS NOT NULL,
	[Name] [nvarchar](64) COLLATE Latin1_General_CI_AS NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Tag]') AND name = N'IX_Tag_Name')
CREATE NONCLUSTERED INDEX [IX_Tag_Name] ON [dbo].[Tag] 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Tag]') AND name = N'IX_Tag_UniqueName_CreatedAat')
CREATE NONCLUSTERED INDEX [IX_Tag_UniqueName_CreatedAat] ON [dbo].[Tag] 
(
	[UniqueName] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
INSERT [dbo].[Tag] ([Id], [UniqueName], [Name], [CreatedAt]) VALUES (N'26e317c1-1cc8-49ae-8832-00d63c4c2fbd', N'Enterprise-Library', N'Enterprise Library', CAST(0x00009BE7015FEB04 AS DateTime))
INSERT [dbo].[Tag] ([Id], [UniqueName], [Name], [CreatedAt]) VALUES (N'e73ff50f-e1a1-4809-90fd-0531c473f638', N'IoC-DI', N'IoC/DI', CAST(0x00009BE700C9C1E6 AS DateTime))
INSERT [dbo].[Tag] ([Id], [UniqueName], [Name], [CreatedAt]) VALUES (N'1a7bc711-bb9d-481f-9aef-0d3d0a05a03c', N'Tips', N'Tips', CAST(0x00009BEB016C9E4A AS DateTime))
/****** Object:  Table [dbo].[User]    Script Date: 05/05/2009 01:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[User](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](256) COLLATE Latin1_General_CI_AS NOT NULL,
	[Password] [nvarchar](64) COLLATE Latin1_General_CI_AS NULL,
	[Email] [nvarchar](256) COLLATE Latin1_General_CI_AS NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsLockedOut] [bit] NOT NULL,
	[Role] [int] NOT NULL,
	[LastActivityAt] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND name = N'IX_User_Email')
CREATE NONCLUSTERED INDEX [IX_User_Email] ON [dbo].[User] 
(
	[Email] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND name = N'IX_User_LastActivityAt')
CREATE NONCLUSTERED INDEX [IX_User_LastActivityAt] ON [dbo].[User] 
(
	[LastActivityAt] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND name = N'IX_User_Role')
CREATE NONCLUSTERED INDEX [IX_User_Role] ON [dbo].[User] 
(
	[Role] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND name = N'IX_User_UserName')
CREATE NONCLUSTERED INDEX [IX_User_UserName] ON [dbo].[User] 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
INSERT [dbo].[User] ([Id], [UserName], [Password], [Email], [IsActive], [IsLockedOut], [Role], [LastActivityAt], [CreatedAt]) VALUES (N'be1c680a-459c-455d-801e-46eea999903a', N'bee', N'8TBPXN6R8DvcdsASQ2WPGg==', N'muhammad.mosa@yahoo.co.uk', 1, 0, 1, CAST(0x00009BF0016E2DD2 AS DateTime), CAST(0x00009BE7013AAF47 AS DateTime))
INSERT [dbo].[User] ([Id], [UserName], [Password], [Email], [IsActive], [IsLockedOut], [Role], [LastActivityAt], [CreatedAt]) VALUES (N'd58058db-47a2-44ba-a4c0-d1ac20d4381a', N'support', N'HUIyXE3SqvQGIwT2ZKTgBw==', N'support@your-domain.com', 1, 0, 2, CAST(0x00009BE7013AAF44 AS DateTime), CAST(0x00009BE7013AAF44 AS DateTime))
INSERT [dbo].[User] ([Id], [UserName], [Password], [Email], [IsActive], [IsLockedOut], [Role], [LastActivityAt], [CreatedAt]) VALUES (N'332ea6ae-ddd7-425e-9186-d4d9d894388a', N'admin', N'GaKFQUS2Oo92F6byJQGbEg==', N'admin@your-domain.com', 1, 0, 4, CAST(0x00009BEC00029EC0 AS DateTime), CAST(0x00009BE7013AAF39 AS DateTime))
/****** Object:  Table [dbo].[KnownSource]    Script Date: 05/05/2009 01:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KnownSource]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KnownSource](
	[Url] [nvarchar](450) COLLATE Latin1_General_CI_AS NOT NULL,
	[Grade] [int] NOT NULL,
 CONSTRAINT [PK_KnownSource] PRIMARY KEY CLUSTERED 
(
	[Url] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[Category]    Script Date: 05/05/2009 01:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Category](
	[Id] [uniqueidentifier] NOT NULL,
	[UniqueName] [nvarchar](64) COLLATE Latin1_General_CI_AS NOT NULL,
	[Name] [nvarchar](64) COLLATE Latin1_General_CI_AS NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND name = N'IX_Category_UniqueName_CreatedAt')
CREATE NONCLUSTERED INDEX [IX_Category_UniqueName_CreatedAt] ON [dbo].[Category] 
(
	[UniqueName] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
INSERT [dbo].[Category] ([Id], [UniqueName], [Name], [CreatedAt]) VALUES (N'7c113ed9-47a4-44f1-bdee-1cc86c02ce07', N'Architecture', N'Architecture', CAST(0x00009BE700C9CFEF AS DateTime))
INSERT [dbo].[Category] ([Id], [UniqueName], [Name], [CreatedAt]) VALUES (N'541be442-e92b-4df3-b8f4-1f90ab868af1', N'Agile', N'Agile', CAST(0x00009BE700C9D11A AS DateTime))
INSERT [dbo].[Category] ([Id], [UniqueName], [Name], [CreatedAt]) VALUES (N'51bf8672-60c1-41be-8ed5-2709cd37e898', N'Screencast', N'Screencast', CAST(0x00009BE700C9D371 AS DateTime))
/****** Object:  Table [dbo].[Story]    Script Date: 05/05/2009 01:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Story]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Story](
	[Id] [uniqueidentifier] NOT NULL,
	[UniqueName] [nvarchar](256) COLLATE Latin1_General_CI_AS NOT NULL,
	[Title] [nvarchar](256) COLLATE Latin1_General_CI_AS NOT NULL,
	[HtmlDescription] [nvarchar](max) COLLATE Latin1_General_CI_AS NOT NULL,
	[TextDescription] [nvarchar](max) COLLATE Latin1_General_CI_AS NOT NULL,
	[Url] [nvarchar](2048) COLLATE Latin1_General_CI_AS NOT NULL,
	[UrlHash] [nchar](24) COLLATE Latin1_General_CI_AS NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[IPAddress] [varchar](15) COLLATE Latin1_General_CI_AS NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LastActivityAt] [datetime] NOT NULL,
	[ApprovedAt] [datetime] NULL,
	[PublishedAt] [datetime] NULL,
	[Rank] [int] NULL,
	[LastProcessedAt] [datetime] NULL,
 CONSTRAINT [PK_Story] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Story]') AND name = N'IX_Story_ApprovedAt_PublishedAt_Rank_CreatedAt_LastActivityAt')
CREATE NONCLUSTERED INDEX [IX_Story_ApprovedAt_PublishedAt_Rank_CreatedAt_LastActivityAt] ON [dbo].[Story] 
(
	[ApprovedAt] DESC,
	[PublishedAt] DESC,
	[Rank] ASC,
	[CreatedAt] DESC,
	[LastActivityAt] DESC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Story]') AND name = N'IX_Story_CategoryId')
CREATE NONCLUSTERED INDEX [IX_Story_CategoryId] ON [dbo].[Story] 
(
	[CategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Story]') AND name = N'IX_Story_LastProcessedAt')
CREATE NONCLUSTERED INDEX [IX_Story_LastProcessedAt] ON [dbo].[Story] 
(
	[LastProcessedAt] DESC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Story]') AND name = N'IX_Story_UniqueName')
CREATE UNIQUE NONCLUSTERED INDEX [IX_Story_UniqueName] ON [dbo].[Story] 
(
	[UniqueName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Story]') AND name = N'IX_Story_UrlHash')
CREATE UNIQUE NONCLUSTERED INDEX [IX_Story_UrlHash] ON [dbo].[Story] 
(
	[UrlHash] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Story]') AND name = N'IX_Story_UserId')
CREATE NONCLUSTERED INDEX [IX_Story_UserId] ON [dbo].[Story] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF not EXISTS (SELECT * FROM sys.fulltext_indexes fti WHERE fti.object_id = OBJECT_ID(N'[dbo].[Story]'))
CREATE FULLTEXT INDEX ON [dbo].[Story](
[TextDescription] LANGUAGE [English], 
[Title] LANGUAGE [English])
KEY INDEX [PK_Story] ON [StoryComment]
WITH CHANGE_TRACKING AUTO
GO
/****** Object:  Table [dbo].[StoryTag]    Script Date: 05/05/2009 01:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StoryTag]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StoryTag](
	[StoryId] [uniqueidentifier] NOT NULL,
	[TagId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_StoryTag] PRIMARY KEY CLUSTERED 
(
	[StoryId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[StoryTag] ([StoryId], [TagId]) VALUES (N'9bc8c5a1-b1f4-4d68-b433-05abd5295153', N'30094d14-0861-4faf-83ab-2336dfe2187f')
INSERT [dbo].[StoryTag] ([StoryId], [TagId]) VALUES (N'9bc8c5a1-b1f4-4d68-b433-05abd5295153', N'ffafcda0-f25a-42ce-8eb6-5f7a8ee31bb6')
INSERT [dbo].[StoryTag] ([StoryId], [TagId]) VALUES (N'9bc8c5a1-b1f4-4d68-b433-05abd5295153', N'a2f52aef-cccb-4603-aa36-8f28dc18eb8c')
/****** Object:  Table [dbo].[UserTag]    Script Date: 05/05/2009 01:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserTag]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserTag](
	[UserId] [uniqueidentifier] NOT NULL,
	[TagId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserTag] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[UserTag] ([UserId], [TagId]) VALUES (N'be1c680a-459c-455d-801e-46eea999903a', N'30094d14-0861-4faf-83ab-2336dfe2187f')
INSERT [dbo].[UserTag] ([UserId], [TagId]) VALUES (N'be1c680a-459c-455d-801e-46eea999903a', N'a2f52aef-cccb-4603-aa36-8f28dc18eb8c')
INSERT [dbo].[UserTag] ([UserId], [TagId]) VALUES (N'332ea6ae-ddd7-425e-9186-d4d9d894388a', N'26e317c1-1cc8-49ae-8832-00d63c4c2fbd')
/****** Object:  Table [dbo].[StoryMarkAsSpam]    Script Date: 05/05/2009 01:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StoryMarkAsSpam]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StoryMarkAsSpam](
	[StoryId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[IPAddress] [varchar](15) COLLATE Latin1_General_CI_AS NOT NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_StoryMarkAsSpam] PRIMARY KEY CLUSTERED 
(
	[StoryId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[StoryView]    Script Date: 05/05/2009 01:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StoryView]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StoryView](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StoryId] [uniqueidentifier] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[IPAddress] [varchar](15) COLLATE Latin1_General_CI_AS NOT NULL,
 CONSTRAINT [PK_View] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[StoryView]') AND name = N'IX_StoryView_StoryId_Timestamp_IpAddress')
CREATE CLUSTERED INDEX [IX_StoryView_StoryId_Timestamp_IpAddress] ON [dbo].[StoryView] 
(
	[StoryId] ASC,
	[Timestamp] DESC,
	[IPAddress] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
SET IDENTITY_INSERT [dbo].[StoryView] ON
INSERT [dbo].[StoryView] ([Id], [StoryId], [Timestamp], [IPAddress]) VALUES (2, N'85ec5544-af6e-4177-8046-5d7e7a0c7205', CAST(0x00009BEB001A8EFD AS DateTime), N'127.0.0.1')
INSERT [dbo].[StoryView] ([Id], [StoryId], [Timestamp], [IPAddress]) VALUES (3, N'85ec5544-af6e-4177-8046-5d7e7a0c7205', CAST(0x00009BEB001A9D41 AS DateTime), N'127.0.0.1')
INSERT [dbo].[StoryView] ([Id], [StoryId], [Timestamp], [IPAddress]) VALUES (4, N'85ec5544-af6e-4177-8046-5d7e7a0c7205', CAST(0x00009BEC00029ACA AS DateTime), N'::1')
SET IDENTITY_INSERT [dbo].[StoryView] OFF
/****** Object:  Table [dbo].[CommentSubscribtion]    Script Date: 05/05/2009 01:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CommentSubscribtion]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CommentSubscribtion](
	[StoryId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CommentSubscribtion] PRIMARY KEY CLUSTERED 
(
	[StoryId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[StoryVote]    Script Date: 05/05/2009 01:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StoryVote]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StoryVote](
	[StoryId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[IPAddress] [varchar](15) COLLATE Latin1_General_CI_AS NOT NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_StoryVote] PRIMARY KEY CLUSTERED 
(
	[StoryId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[StoryVote] ([StoryId], [UserId], [IPAddress], [Timestamp]) VALUES (N'9bc8c5a1-b1f4-4d68-b433-05abd5295153', N'be1c680a-459c-455d-801e-46eea999903a', N'::1', CAST(0x00009BEB0169B632 AS DateTime))
INSERT [dbo].[StoryVote] ([StoryId], [UserId], [IPAddress], [Timestamp]) VALUES (N'9bc8c5a1-b1f4-4d68-b433-05abd5295153', N'332ea6ae-ddd7-425e-9186-d4d9d894388a', N'::1', CAST(0x00009BEB016E9D2C AS DateTime))
INSERT [dbo].[StoryVote] ([StoryId], [UserId], [IPAddress], [Timestamp]) VALUES (N'9bc8c5a1-b1f4-4d68-b433-05abd5295153', N'66b3ab1c-e00a-44c6-af9a-e13dada0f565', N'::1', CAST(0x00009BEB016C3C5B AS DateTime))
/****** Object:  Table [dbo].[StoryComment]    Script Date: 05/05/2009 01:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StoryComment]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StoryComment](
	[Id] [uniqueidentifier] NOT NULL,
	[HtmlBody] [nvarchar](max) COLLATE Latin1_General_CI_AS NOT NULL,
	[TextBody] [nvarchar](max) COLLATE Latin1_General_CI_AS NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[StoryId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[IPAddress] [varchar](15) COLLATE Latin1_General_CI_AS NOT NULL,
	[IsOffended] [bit] NOT NULL,
 CONSTRAINT [PK_StoryComment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[StoryComment]') AND name = N'IX_StoryComment_StoryId_CreatedAt')
CREATE NONCLUSTERED INDEX [IX_StoryComment_StoryId_CreatedAt] ON [dbo].[StoryComment] 
(
	[StoryId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[StoryComment]') AND name = N'IX_StoryComment_UserId')
CREATE NONCLUSTERED INDEX [IX_StoryComment_UserId] ON [dbo].[StoryComment] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF not EXISTS (SELECT * FROM sys.fulltext_indexes fti WHERE fti.object_id = OBJECT_ID(N'[dbo].[StoryComment]'))
CREATE FULLTEXT INDEX ON [dbo].[StoryComment](
[TextBody] LANGUAGE [English])
KEY INDEX [PK_StoryComment] ON [StoryComment]
WITH CHANGE_TRACKING AUTO
GO
INSERT [dbo].[StoryComment] ([Id], [HtmlBody], [TextBody], [CreatedAt], [StoryId], [UserId], [IPAddress], [IsOffended]) VALUES (N'6805bed2-49ac-4fbf-9b58-61e7d36c63e1', N'<p>This is my personal comment</p>', N'This is my personal comment', CAST(0x00009BEF002A766A AS DateTime), N'9bc8c5a1-b1f4-4d68-b433-05abd5295153', N'be1c680a-459c-455d-801e-46eea999903a', N'::1', 0)
INSERT [dbo].[StoryComment] ([Id], [HtmlBody], [TextBody], [CreatedAt], [StoryId], [UserId], [IPAddress], [IsOffended]) VALUES (N'aa5f1fc2-8684-4258-8552-acdc3d139246', N'<p>another hello comment</p>', N'another hello comment', CAST(0x00009BED0012EE7B AS DateTime), N'85ec5544-af6e-4177-8046-5d7e7a0c7205', N'be1c680a-459c-455d-801e-46eea999903a', N'::1', 0)
INSERT [dbo].[StoryComment] ([Id], [HtmlBody], [TextBody], [CreatedAt], [StoryId], [UserId], [IPAddress], [IsOffended]) VALUES (N'62f08cc5-1c43-4b6b-a54a-c4c53e60159f', N'<p>hello how are you?</p>', N'hello how are you?', CAST(0x00009BEF0028CA93 AS DateTime), N'85ec5544-af6e-4177-8046-5d7e7a0c7205', N'be1c680a-459c-455d-801e-46eea999903a', N'::1', 0)
/****** Object:  Table [dbo].[UserScore]    Script Date: 05/05/2009 01:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserScore]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserScore](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[ActionType] [int] NOT NULL,
	[Score] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_UserScore] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[UserScore]') AND name = N'IX_UserScore_UserId_Timestamp_Score')
CREATE CLUSTERED INDEX [IX_UserScore_UserId_Timestamp_Score] ON [dbo].[UserScore] 
(
	[UserId] ASC,
	[Timestamp] DESC,
	[Score] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
SET IDENTITY_INSERT [dbo].[UserScore] ON
INSERT [dbo].[UserScore] ([Id], [UserId], [Timestamp], [ActionType], [Score]) VALUES (4, N'66b3ab1c-e00a-44c6-af9a-e13dada0f565', CAST(0x00009BF0016E525A AS DateTime), 6, CAST(2.00 AS Decimal(5, 2)))
INSERT [dbo].[UserScore] ([Id], [UserId], [Timestamp], [ActionType], [Score]) VALUES (3, N'66b3ab1c-e00a-44c6-af9a-e13dada0f565', CAST(0x00009BEB016DA1F5 AS DateTime), 12, CAST(-50.00 AS Decimal(5, 2)))
INSERT [dbo].[UserScore] ([Id], [UserId], [Timestamp], [ActionType], [Score]) VALUES (2, N'66b3ab1c-e00a-44c6-af9a-e13dada0f565', CAST(0x00009BEB016CAA5D AS DateTime), 2, CAST(10.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[UserScore] OFF
/****** Object:  ForeignKey [FK_CommentSubscribtion_Story]    Script Date: 05/05/2009 01:09:34 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CommentSubscribtion_Story]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentSubscribtion]'))
ALTER TABLE [dbo].[CommentSubscribtion]  WITH CHECK ADD  CONSTRAINT [FK_CommentSubscribtion_Story] FOREIGN KEY([StoryId])
REFERENCES [dbo].[Story] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CommentSubscribtion_Story]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentSubscribtion]'))
ALTER TABLE [dbo].[CommentSubscribtion] CHECK CONSTRAINT [FK_CommentSubscribtion_Story]
GO
/****** Object:  ForeignKey [FK_CommentSubscribtion_User]    Script Date: 05/05/2009 01:09:34 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CommentSubscribtion_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentSubscribtion]'))
ALTER TABLE [dbo].[CommentSubscribtion]  WITH CHECK ADD  CONSTRAINT [FK_CommentSubscribtion_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CommentSubscribtion_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommentSubscribtion]'))
ALTER TABLE [dbo].[CommentSubscribtion] CHECK CONSTRAINT [FK_CommentSubscribtion_User]
GO
/****** Object:  ForeignKey [FK_Story_Category]    Script Date: 05/05/2009 01:09:34 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Story_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[Story]'))
ALTER TABLE [dbo].[Story]  WITH CHECK ADD  CONSTRAINT [FK_Story_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Story_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[Story]'))
ALTER TABLE [dbo].[Story] CHECK CONSTRAINT [FK_Story_Category]
GO
/****** Object:  ForeignKey [FK_Story_User]    Script Date: 05/05/2009 01:09:34 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Story_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[Story]'))
ALTER TABLE [dbo].[Story]  WITH CHECK ADD  CONSTRAINT [FK_Story_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Story_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[Story]'))
ALTER TABLE [dbo].[Story] CHECK CONSTRAINT [FK_Story_User]
GO
/****** Object:  ForeignKey [FK_StoryComment_Story]    Script Date: 05/05/2009 01:09:34 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryComment_Story]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryComment]'))
ALTER TABLE [dbo].[StoryComment]  WITH CHECK ADD  CONSTRAINT [FK_StoryComment_Story] FOREIGN KEY([StoryId])
REFERENCES [dbo].[Story] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryComment_Story]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryComment]'))
ALTER TABLE [dbo].[StoryComment] CHECK CONSTRAINT [FK_StoryComment_Story]
GO
/****** Object:  ForeignKey [FK_StoryComment_User]    Script Date: 05/05/2009 01:09:34 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryComment_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryComment]'))
ALTER TABLE [dbo].[StoryComment]  WITH CHECK ADD  CONSTRAINT [FK_StoryComment_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryComment_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryComment]'))
ALTER TABLE [dbo].[StoryComment] CHECK CONSTRAINT [FK_StoryComment_User]
GO
/****** Object:  ForeignKey [FK_StoryMarkAsSpam_Story]    Script Date: 05/05/2009 01:09:34 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryMarkAsSpam_Story]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryMarkAsSpam]'))
ALTER TABLE [dbo].[StoryMarkAsSpam]  WITH CHECK ADD  CONSTRAINT [FK_StoryMarkAsSpam_Story] FOREIGN KEY([StoryId])
REFERENCES [dbo].[Story] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryMarkAsSpam_Story]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryMarkAsSpam]'))
ALTER TABLE [dbo].[StoryMarkAsSpam] CHECK CONSTRAINT [FK_StoryMarkAsSpam_Story]
GO
/****** Object:  ForeignKey [FK_StoryMarkAsSpam_User]    Script Date: 05/05/2009 01:09:34 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryMarkAsSpam_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryMarkAsSpam]'))
ALTER TABLE [dbo].[StoryMarkAsSpam]  WITH CHECK ADD  CONSTRAINT [FK_StoryMarkAsSpam_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryMarkAsSpam_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryMarkAsSpam]'))
ALTER TABLE [dbo].[StoryMarkAsSpam] CHECK CONSTRAINT [FK_StoryMarkAsSpam_User]
GO
/****** Object:  ForeignKey [FK_StoryTag_Story]    Script Date: 05/05/2009 01:09:34 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryTag_Story]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryTag]'))
ALTER TABLE [dbo].[StoryTag]  WITH CHECK ADD  CONSTRAINT [FK_StoryTag_Story] FOREIGN KEY([StoryId])
REFERENCES [dbo].[Story] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryTag_Story]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryTag]'))
ALTER TABLE [dbo].[StoryTag] CHECK CONSTRAINT [FK_StoryTag_Story]
GO
/****** Object:  ForeignKey [FK_StoryTag_Tag]    Script Date: 05/05/2009 01:09:34 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryTag_Tag]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryTag]'))
ALTER TABLE [dbo].[StoryTag]  WITH CHECK ADD  CONSTRAINT [FK_StoryTag_Tag] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryTag_Tag]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryTag]'))
ALTER TABLE [dbo].[StoryTag] CHECK CONSTRAINT [FK_StoryTag_Tag]
GO
/****** Object:  ForeignKey [FK_StoryView_Story]    Script Date: 05/05/2009 01:09:34 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryView_Story]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryView]'))
ALTER TABLE [dbo].[StoryView]  WITH CHECK ADD  CONSTRAINT [FK_StoryView_Story] FOREIGN KEY([StoryId])
REFERENCES [dbo].[Story] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryView_Story]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryView]'))
ALTER TABLE [dbo].[StoryView] CHECK CONSTRAINT [FK_StoryView_Story]
GO
/****** Object:  ForeignKey [FK_StoryVote_Story]    Script Date: 05/05/2009 01:09:34 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryVote_Story]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryVote]'))
ALTER TABLE [dbo].[StoryVote]  WITH CHECK ADD  CONSTRAINT [FK_StoryVote_Story] FOREIGN KEY([StoryId])
REFERENCES [dbo].[Story] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryVote_Story]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryVote]'))
ALTER TABLE [dbo].[StoryVote] CHECK CONSTRAINT [FK_StoryVote_Story]
GO
/****** Object:  ForeignKey [FK_StoryVote_User]    Script Date: 05/05/2009 01:09:34 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryVote_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryVote]'))
ALTER TABLE [dbo].[StoryVote]  WITH CHECK ADD  CONSTRAINT [FK_StoryVote_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StoryVote_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoryVote]'))
ALTER TABLE [dbo].[StoryVote] CHECK CONSTRAINT [FK_StoryVote_User]
GO
/****** Object:  ForeignKey [FK_UserScore_User]    Script Date: 05/05/2009 01:09:34 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserScore_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserScore]'))
ALTER TABLE [dbo].[UserScore]  WITH CHECK ADD  CONSTRAINT [FK_UserScore_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserScore_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserScore]'))
ALTER TABLE [dbo].[UserScore] CHECK CONSTRAINT [FK_UserScore_User]
GO
/****** Object:  ForeignKey [FK_UserTag_Tag]    Script Date: 05/05/2009 01:09:34 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserTag_Tag]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserTag]'))
ALTER TABLE [dbo].[UserTag]  WITH CHECK ADD  CONSTRAINT [FK_UserTag_Tag] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserTag_Tag]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserTag]'))
ALTER TABLE [dbo].[UserTag] CHECK CONSTRAINT [FK_UserTag_Tag]
GO
/****** Object:  ForeignKey [FK_UserTag_User]    Script Date: 05/05/2009 01:09:34 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserTag_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserTag]'))
ALTER TABLE [dbo].[UserTag]  WITH CHECK ADD  CONSTRAINT [FK_UserTag_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserTag_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserTag]'))
ALTER TABLE [dbo].[UserTag] CHECK CONSTRAINT [FK_UserTag_User]
GO
