<kigg>
  
  <thumbnail
      apiKey="6e09fa79283da86fbe9ec55d09e4c18f"
      endpoint="http://images.pageglimpse.com/v1/thumbnails"/>

  <twitter
      userName="kigg"
      password="kigg-password"
      endpoint="http://twitter.com/direct_messages/new.xml"
      maximumMessageLength="140"
      messageTemplate="Possible spam: {alias} - {title}"
      recipients="manzurrashid,mosessaur"/>

  <users>
    <add
        userName="admin"
        password="admin"
        email="admin@localkigg.com"
        description="KiGG Administrator"
        role="Administrator"/>
    <add
        userName="support"
        password="support"
        email="support@localkigg.com"
        description="KiGG Support/Moderator"
        role="Moderator"/>
    <add
        userName="bee"
        password="busybee"
        email="bee@localkigg.com"
        description="KiGG Bot Bee"
        role="Bot"/>
    <add
        userName="http://kazimanzurrashid.myopenid.com/"
        email="kazimanzurrashid@gmail.com"
        role="Administrator"/>
    <add
        userName="http://mosessaur.myopenid.com/"
        email="mohammed_moses@yahoo.co.uk"
        role="Administrator"/>
  </users>
  <categories>
    <add name="Web Tech"
         uniqueName="Web-Tech"/>
    <add name="C#"
         uniqueName="C-Sharp"/>
    <add name="Database"
         uniqueName="Database"/>
    <add name="Smart Clients"
         uniqueName="Smart-Clients"/>
    <add name="SOA"
         uniqueName="SOA"/>
    <add name="Patterns Practices"
         uniqueName="PnP"/>
    <add name="ADO.NET"
         uniqueName="ADO.NET"/>
  </categories>

  <!--<assets theme="default" scriptFilesPath="~/scripts" styleSheetFilesPath="~/content" compress="true">
    <add url="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.min.js"
         group="cdn"
         type="RemoteJavaScript"/>

    <add url="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.min.js"
         group="cdn"
         type="RemoteJavaScript"/>

    <add url="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"
         group="cdn"
         type="RemoteJavaScript"/>

    <add url="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"
         group="cdn"
         type="RemoteJavaScript"/>

    <add url="kigg.global.js"
         group="appGlobalScripts"
         type="LocalJavaScript"/>

    <add url="kigg.jquery.extensions.js"
         group="appGlobalScripts"
         type="LocalJavaScript"/>
  </assets>-->
</kigg>