<webAssets useTelerikContentDeliveryNetwork="true">
  <styleSheets>
    <add name="appEverywhereStyles" combined="true" compress="true" cacheDurationInDays="365">
      <items>
        <add source="reset.css"/>
        <add source="common.css"/>
        <add source="openid.css"/>
      </items>
    </add>    
    <add name="telerikStyles" combined="true" compress="true" useTelerikContentDeliveryNetwork="true">
      <items>
        <add source="telerik.common.css"/>
        <add source="telerik.sunset.css"/>
      </items>
    </add>
    <add name="appTheme" defaultPath="~/content/themes/default/" combined="true" compress="true" cacheDurationInDays="365">
      <items>
        <add source="elements.css"/>
        <add source="layout.css"/>
        <add source="site.css"/>
        <add source="form.css"/>
      </items>
    </add>
  </styleSheets>
  <scripts>
    <add name="cdn" combined="true" compress="true">
      <items>
        <add source="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.min.js"/>
        <add source="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.min.js"/>
        <add source="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"/>
        <add source="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"/>
      </items>
    </add>
    <add name="telerikScripts" combined="true" compress="true"
         useTelerikContentDeliveryNetwork="true">
      <items>
        <add source="telerik.common.min.js"/>
        <add source="telerik.draganddrop.min.js"/>
        <add source="telerik.window.min.js"/>
      </items>
    </add>
    <add name="appEverywhereScripts" combined="true" compress="true" cacheDurationInDays="365">
      <items>
        <add source="jquery.openid.js"/>
        <add source="kigg.namespace.js"/>
        <add source="kigg.jquery.extensions.js"/>
        <add source="kigg.ui.smoothImage.js"/>
        <add source="kigg.ui.membership.js"/>
        <add source="kigg.globals.js"/>
      </items>
    </add>
  </scripts>
</webAssets>